 /* Extra small devices (portrait phones, less than 576px) */
 @media (max-width: 575.98px) {
        /* banner starts */
        #holder{
            margin: -13px 0px!important;
        }
    
        .banner {
            padding: 30px 0;
        }
        /* banner ends */
    
        /* about starts */
       
    
        .about {
            padding: 30px 0;
        }
        .abt_h {
            font-size: 26px;}

            .c_mrg img{
                width: 90%;
            }
    
        .abt_p {
                font-size: 11px;
        }
        /* about ends */
    
    /* services starts */
    .services {
        padding: 30px 0;
    }
    .srv_h {
        font-size: 26px;}
    
    .flip-card, .flip-card-click {
        display: inline-block;
        background-color: transparent;
        width: 230px;
        height: 240px;
        border: 1px solid #f1f1f1;
        
    }
    
    .srvc_h2 {
        font-size: 15px!important;
        
    }
    /* services ends */
    /* features starts */
    .features {
        padding: 30px 0;
    }
    
    .fea_h {
            font-size: 26px;}
    
            .f_h2 {
                font-size: 12px;
                margin-bottom: 0px;
            }
    
            .f_p {
                margin-top: 5px;
                margin-bottom: 12px!important;
                font-size: 10px;
            }
    
            .c_cap{            
           bottom: 14px;
                    font-size: 11px;
                }
            
    /* features ends */
    
    /* contact starts */
    .contact {
        padding: 30px 0;
    }
   .c_input_name input {
    padding: 5px;
    }

    .c_input_name label {
          padding: 0;
              top: 0px;
    }
   .c_input_email input {
    padding: 5px;
    }

    .c_input_email label {
          padding: 0;
              top: 0px;
    }
   .c_input_phone input {
    padding: 5px;
    }

    .c_input_phone label {
          padding: 0;
              top: 0px;
    }
   .c_input_text input {
    padding: 5px;
    }

    .c_input_text label {
          padding: 0;
              top: 0px;
    }
    
    .con_h {
    font-size: 26px;
    }
    
    .styled-input {
        width:100%;
    }
    
    .submit-btn {
        width:100%;
        float: none;
        text-align:center;   
            padding: 7px 21px;
                      font-size: 12px;
    }
    /* contact us ends */
    
    /* footer */
   
}


/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {

        /* banner starts */
        #holder{
            margin: -13px 0px!important;
        }
    
        .banner {
            padding: 30px 0;
        }
        /* banner ends */
    
        /* about starts */
       
    
        .about {
            padding: 30px 0;
        }
        .abt_h {
            font-size: 41px;}

            .c_mrg img{
                width: 67%;
            }
    
        .abt_p {
                font-size: 11px;
        }
        /* about ends */
    
    /* services starts */
    .services {
        padding: 30px 0;
    }
    .srv_h {
        font-size: 41px;}
    
    .flip-card, .flip-card-click {
        display: inline-block;
        background-color: transparent;
        width: 230px;
        height: 240px;
        border: 1px solid #f1f1f1;
        
    }
    
    .srvc_h2 {
        font-size: 15px!important;
        
    }
    /* services ends */
    /* features starts */
    .features {
        padding: 30px 0;
    }
    
    .fea_h {
            font-size: 41px;}
    
            .f_h2 {
                font-size: 16px;
                margin-bottom: 0px;
            }
    
            .f_p {
                margin-top: 5px;
                margin-bottom: 12px!important;
                font-size: 11px;
            }
    
            .c_cap{            
           bottom: 14px;
                    font-size: 11px;
                }
            
    /* features ends */
    
    /* contact starts */
    .contact {
        padding: 30px 0;
    }
    /* contact ends */
    /* contact us */
    
    .con_h {
    font-size: 41px;
    }
    
    .styled-input {
        width:100%;
    }
    
    .submit-btn {
        width:100%;
        float: none;
        text-align:center;
    }
    /* contact us ends */
    
    /* footer */
}


/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {

     /* banner starts */
     #holder{
        margin: -13px 0px!important;
    }

    .banner {
        padding: 30px 0;
    }
    /* banner ends */

    /* about starts */
   

    .about {
        padding: 30px 0;
    }
    .abt_h {
        font-size: 41px;}

    .abt_p {
            font-size: 11px;
    }
    /* about ends */

/* services starts */
.services {
    padding: 30px 0;
}
.srv_h {
    font-size: 41px;}

.flip-card, .flip-card-click {
    display: inline-block;
    background-color: transparent;
    width: 230px;
    height: 240px;
    border: 1px solid #f1f1f1;
    
}

.srvc_h2 {
    font-size: 15px!important;
    
}
/* services ends */
/* features starts */
.features {
    padding: 30px 0;
}

.fea_h {
        font-size: 41px;}

        .f_h2 {
            font-size: 22px;
            margin-bottom: 0px;
        }

        .f_p {
           
            font-size: 13px;
        }

        .c_cap{
            bottom: 18px;
        }
/* features ends */

/* contact starts */
.contact {
    padding: 30px 0;
}
/* contact ends */
/* contact us */

.con_h {
font-size: 41px;
}

.styled-input {
    width:100%;
}

.submit-btn {
    width:100%;
    float: none;
    text-align:center;
}
/* contact us ends */

/* footer */


}


/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    /* banner starts */
    #holder{
        margin: -13px 0px!important;
    }

    .banner {
        padding: 50px 0;
    }
    /* banner ends */

    /* about starts */
   

    .about {
        padding: 50px 0;
    }
    .abt_h {
        font-size: 41px;}

    .abt_p {
            font-size: 16px;
    }
    /* about ends */

/* services starts */
.services {
    padding: 50px 0;
}
.srv_h {
    font-size: 41px;}

.flip-card, .flip-card-click {
    display: inline-block;
    background-color: transparent;
    width: 230px;
    height: 240px;
    border: 1px solid #f1f1f1;
    
}

.srvc_h2 {
    font-size: 15px!important;
    
}
/* services ends */
/* features starts */
.features {
    padding: 50px 0;
}

.fea_h {
        font-size: 41px;}

        .f_h2 {
            font-size: 25px;
            margin-bottom: 0px;
        }

        .f_p {
           
            font-size: 13px;
        }

        .c_cap{
            bottom: 18px;
        }
/* features ends */

/* contact starts */
.contact {
    padding: 50px 0;
}
.con_h {
    font-size: 41px;
    }
/* contact ends */
}


/* Large devices (desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width: 1399.98px) {



}

/* Large devices (desktops, 1400px and up) */
@media (min-width: 1400px) and (max-width: 1699.98px) {}

/* Large devices (desktops, 1700px and up) */
@media (min-width: 1700px) and (max-width: 1999.98px) {}

/* Extra large devices (large desktops, 20000px and up) */
@media (min-width: 2000px) {}